.form__button-submit {
    margin-top: 18px;
    padding-top: 14px;
    padding-bottom: 18px;
    background-color: #000000;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2px;
    cursor: pointer;
    font-family: inherit;
    border: 0px;

}

@media screen and (max-width: 900px) {

    .form__button-submit {
        font-size: 14px;
        line-height: 17px;
    }
}

.form__button-submit:not(:disabled):hover {
    opacity: .8;
}
