.popup__button-close {
    background-image: url(../../../images/icons/close-icon.svg);
    width: 32px;
    height: 32px;
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: -40px;
    right: -40px;
    cursor: pointer;
}


.popup__button-close:hover {
    opacity: .6;
}


@media screen and (max-width: 900px) {

    .popup__button-close {
        width: 20px;
        height: 20px;
        right: 0px;
        top: -36px;
        background-size: cover;
    }
}